@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
}
html, body {
  height: 100%;
  overflow: hidden; /* removes scrollbar */
}
/* Enable scrollbar */
html,
body {
  overflow-y: auto;
}

/* Optional: visible scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes toast-progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
